<!-- provides a short description of Sweet Tooth Inc. Nav bar to home page. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/web_design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-customclass navbar-expand-lg">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-mobile navbar-toggler-icon icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-mobile collapse navbar-collapse" id="navbarSupportedContent">
            <center> 
            <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        Home  <i class="bi-house-door-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="general.html">
                        General    <i class="bi-bookmarks" style="font-size: 1.5rem;"></i>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="research.html">
                        Research    <i class="bi-search" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gradschool.html">
                        Grad School <i class="bi-book" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="fellowships.html">
                        Fellowships   <i class="bi-pencil-square" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="about.html">
                        About    <i class="bi-info-circle" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
            </ul>
            </div>
            </center>
        </div>
    </nav>

    <!-- for mobile sites -->
    <script>
        function myFunction() {
            var x = document.getElementById("mynavbar-mobile");
            if (x.className === "navbar-mobile") {
                x.className += " responsive";
            } else {
                x.className = "navbar-mobile";
            }
        }
    </script>
    <div class="transition other_fluid_wink">
        <div class="container">
            <div class="mini_void"></div>
            
            <div class="row justify-content-center align-items-center">
                
                <div class="col-md-11 page_tits">
                <center>
                    General Advice
                    <p class="peepee_subtitle">
                        By Adriana Ladera (other collaborators wanted!). <em>Last updated 21 Dec. 2022.</em>
                    </p>
                </center>
                <p class="padding"></p>
                <p class="padding"></p>
                    <p class="peepee_desc">
                        Hey there! Looking for advice on how to <a href="#CV">write a research-based CV</a> or how to choose the right
                         <a href="#reclet">recommendation letter writers</a>? Well you've come to the right place.
                    </p>
                </div>
            </div>
            
            <p class="padding"></p>
            <div class="row justify-content-center align-items-center">
                <div id="CV" class="col-md-11 head_wink_wink">
                    <strong>
                    Writing a Research-Based CV
                    </strong>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        <!-- <em>This page was written by Adriana Ladera (other collaborators wanted!).</em> -->
                    </p>
                    <p class="peepee_desc">
                        Ever had questions about formatting your CV for graduate school or for a research internship? Fear not! The following is a general template for crafting a stellar CV.
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Research Interests</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        This is a short, usually comma-separated list of your interests, intended to help research program staff and admissions officers match you with a faculty mentor. Try to be as specific as you can 
                        (i.e. rather than saying that you're interested in computer science, mention the aspects of computer science that you're attracted to, 
                        like high performance computing, numerical algorithms, efficient 3D mesh generation algorithms, etc). 
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Publications</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        This is where you shine! If you have any research that was published at a conference or in a journal, share that here! I don't think there is a specific format for MSRP but I used APA format to cite my work :)
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Presentations</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        Any opportunities you got to share your research, such as talks, conference posters, undergraduate research conferences hosted at your school, all go here.
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Experience</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        Generally, you may want to have two separate sections for research and leadership. Here, you can list a summary of the work you conducted for various research projects. 
                        If you've done many projects, try to limit this section to the research you did that is relevant to the research you want to do at your specific graduate school or 
                        research program. If you haven't done much, don't worry! At this point you can also add in your essays that despite not having much of a research background, you 
                        are excited about the fact that MSRP will give you the opportunity to work closely with faculty and gain the important skills you need to grow as a scientist 
                        (If I remember correctly I was a little sappy in my application about this idea lol).
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Awards and Honors</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        If you have any cool honors, recognitions, and are a recipient of things such as scholarships, put them here! Examples include any award placements for
                         research poster presentations, the Goldwater scholarship, university scholarships for merit or diversity, put them here! Remember, no matter how small
                          you think your accomplishments are, they still deserve to be seen.
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Skills</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        Include technical skills such as numerical computing, bash scripting, and soft skills such as effective communication and team work. Definitely team work!
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Languages</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        This can be for spoken and written languages like French and Tagalog, but if you know any programming languages like Python, C++, or Julia, please put them here!
                    </p>
                    <p class="peepee_desc"><a href="#top">Back to top</a></p>
                </div>
            </div>

            <p class="padding"></p>
            <div class="row justify-content-center align-items-center">
                <div id="reclet" class="col-md-11 head_wink_wink">
                    <strong>
                   Recommendation Letters
                    </strong>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        Recommendation letters are perhaps one of the most, if not, the most important aspects of your application for 
                        research programs, internships, and graduate school. Recommendation letters allow the admissions office to gain a perspective
                        of who you, the applicant, are outside of the person described by your own essays. Generally, a recommender is a Principal Investigator
                        for your research project, a professor who knows you personally beyond the scope of good performance in their class (i.e. a research collaborator
                        or non-academic extracurricular advisor), or an internship manager. Your recommender must be able to vouch for your research performance, leadership skills, determination, and/or your ability
                        to handle challenges and work with others. 
                    </p>
                    <p class="peepee_desc">A good general rule of thumb for determining who should be your recommender is the 2-1 plus rule for applications that require 3 or more recommenders. The 2-1 plus rule ensures
                        that you have at least two recommenders, notably professors or employers, that are able to create strong letters describing your potential and work ethic as a researcher or employee, and at least one other recommender,
                        usually a mentor or extra-curricular collaborator, that can speak on behalf of your personality and skills beyond the lab or internship.
                    </p>
                    <p class="peepee_desc">Once you have decided who your recommenders will be, ensure that you give them at least one month in advance to submit their recommendation letters for your application. Recommenders,
                        especially professors, are busy people who balance deadlines for grant funding, conferences, and other student projects, so please be respectful of their time. While some recommenders are completely content with 
                        curating recommendation letters a few days before and even the day of the deadline, chances are, your recommender would like as much time as possible to craft their best version of you in letter form.
                    </p>
                    <p class="peepee_desc"><a href="#top">Back to top</a></p>
                </div>
            </div>

            <div class="void"></div>
            <div class="void"></div>

            <div class="row justify-content-center align-items-center">
                <div id="external" class="col-md-11 head_wink_wink">
                    <strong>
                   Path2Research
                    </strong>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        [add Path2Research Links here] 
                    </p>
                    <p class="peepee_desc"><a href="#top">Back to top</a></p>
                </div>
            </div>

            <div class="void"></div>
            <div class="void"></div>
            

        <!-- end container -->
        </div>
    <!-- end ransition -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
</body>

</html>