<!-- provides a short description of Sweet Tooth Inc. Nav bar to home page. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Opportunities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/web_design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-customclass navbar-expand-lg">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-mobile navbar-toggler-icon icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-mobile collapse navbar-collapse" id="navbarSupportedContent">
            <center> 
            <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        Home  <i class="bi-house-door-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="general.html">
                        General    <i class="bi-bookmarks" style="font-size: 1.5rem;"></i>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="research.html">
                        Research    <i class="bi-search" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gradschool.html">
                        Grad School <i class="bi-book" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="fellowships.html">
                            Fellowships   <i class="bi-pencil-square" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="about.html">
                        About    <i class="bi-info-circle" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
            </ul>
            </div>
            </center>
        </div>
    </nav>

    <!-- for mobile sites -->
    <script>
        function myFunction() {
            var x = document.getElementById("mynavbar-mobile");
            if (x.className === "navbar-mobile") {
                x.className += " responsive";
            } else {
                x.className = "navbar-mobile";
            }
        }
    </script>

    <div class="transition other_fluid_wink">
        <div class="container">
            <div class="mini_void"></div>
            <div class="row justify-content-center align-items-center">
                
                <div class="col-md-11 page_tits">
                    <center>
                    Research Opportunities
                    <p class="peepee_subtitle">
                        By Adriana Ladera (other collaborators wanted!). <em>Last updated 21 Dec. 2022.</em>
                    </p>
                    </center>
                    <p class="padding"></p>
                    <p class="padding"></p>
                    <p class="peepee_desc">
                        New to the research scene? Have no fear! This page discusses tips for 
                        <a href="#ugresearch">starting undergraduate research</a>, or if you're a seasoned scientist looking for
                        opportunities that might be outside of your university-- then the sections on the <a href="#msrp">MIT Summer Research Program</a>,
                        <a href="#reu">Research Experiences for Undergraduates</a>, <a href="#sreip">Summer Research Early Identification Program</a>, or 
                        <a href="#intl">Research Opportunities for International Students</a> may be of interest to you.      
                    </p>
                </div>
                

            </div>
            <p class="padding"></p>

            <div class="row justify-content-center align-items-center">
                <div id="ugresearch" class="col-md-11 head_wink_wink">
                    <strong>
                    Starting Undergraduate Research
                    </strong>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        Early on in your undergraduate career, it’s totally normal to not have any research experience yet. The best point to start is with a general idea of something that you might be interested in, and the best place to get acquainted with the research process is at your undergraduate institution. 
                    </p>
                    <p class="peepee_desc">
                        Next, think about what department your topic might reside in. Are you interested in water quality? You might want to check out the environmental engineering department’s website. Do you like automata theory or programming languages? That would probably be in the computer science department. Or maybe you’re interested in the structure-property relationship of hybrid materials, in which case it would be fair to look towards materials science and engineering. Keep in mind that many of these topics can also be cross-listed across different departments (i.e. materials design research may also appear in physics departments or electrical engineering just as well as materials science, or signal processing may appear in the departments of mathematics and computer science as well), so be sure that you scout these other departments to ensure that you’re maximizing your research opportunities!

                    </p>
                    <p class="peepee_desc">
                        Finally, the last and final step is to reach out to professors whose research you’re interested in. On your department(s)’s web page, there are often descriptions of the research conducted within those departments as well as links to the websites of respective affiliated professors. After reviewing their research, narrow your choices to the few professors whose research interests match your own and email them expressing your interest. Oftentimes, these professors may ask to set up a meeting, ask for your resume or CV, or just ask more about why you’re interested in their lab. This is relatively low pressure and is normally just so the professor can gauge your interest and figure out what projects may be best for you to try out in their lab.
                    
                    </p>
                    <p class="peepee_desc">
                        Once you’ve found a research lab match with a professor, there may be an official onboarding process regarding pay or voluntary work, but in other words, congrats– you’re beginning to pave the way for your future career in research!
                    </p>
                    <p class="peepee_desc"><a href="#top">Back to top</a></p>
                </div>
            </div>
            <p class="padding"></p>

            <div class="row justify-content-center align-items-center">
                <div id="msrp" class="col-md-11 head_wink_wink">
                    <strong>
                    MIT Summer Research Program
                    </strong>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Overview</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        The MIT Summer Research Program (MSRP) is a 10-week summer research internship at MIT, dedicated
                        to exposing talented yet historically underrepresented minority students to graduate STEM education
                        and research experience in their field of interest at MIT. The program is open to both U.S. national
                        and international students, so long as the student is attending a U.S.-based institution. 
                    </p>
                    <p class="peepee_desc">
                        Aside from working closely with a faculty mentor or research mentor towards a 10-week project goal, MSRP interns
                        gain the opportunity to understand graduate education through departmental information sessions, weekly research presentations,
                        and guidance for writing a graduate statement of purpose. Additionally, interns can attend several social events, including pod activities,
                        mingling with other interns, and an end-of-the-summer boat cruise or trip to Martha's Vineyard!
                    </p>
                    <p class="peepee_desc">
                        More information
                        on the program overview, research mentorship, and applicant eligibility can be found <a href="https://oge.mit.edu/msrp/">here</a>.
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Tips for a successful MSRP application</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        This is where you shine! If you have any research that was published at a conference or in a journal, share that here! I don't think there is a specific format for MSRP but I used APA format to cite my work :)
                    </p>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Application examples</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        <a href="../static/Ladera_MIT_MSRP_Application.pdf">Adriana Ladera, <em>2021 MSRP Intern</em></a> and 2023 MSRP Application Review Committee
                    </p>
                    <p class="peepee_desc"><a href="#top">Back to top</a></p>
                </div>
            </div>

            <p class="padding"></p>

            <div class="row justify-content-center align-items-center">
                <div id="reu" class="col-md-11 head_wink_wink">
                    <strong>
                    Research Experiences for Undergraduates
                    </strong>
                </div>
            </div>

            <div class="row deez_nuts_subhead justify-content-center align-items-center">
                <div class="col-md-11"><strong>
                    Overview</strong>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <p class="peepee_desc">
                        Research Experiences for Undergraduates (REU) are a fantastic opportunity for students to get involved in research early on in their undergraduate career. Several universities can host REU programs, but while all REU programs receive
                        the same funding, not all REU programs have the same application requirements.
                        Please visit the host site for your REU program of interest to view their specific
                        application materials.
                    </p>
                    <p class="peepee_desc">
                        REU programs receive funding from the National Science Foundation (NSF), and therefore are
                        opportunities which are limited to U.S. citizens, nationals, and residents. Please contact the host site for your REU program of interest if you have further questions on the eligibility requirements.
                    </p>
                    <p class="peepee_desc">
                        More information
                        on REU programs as well as a list of REUs by subject can be found <a href="https://www.nsf.gov/crssprgm/reu/index.jsp">directly from the NSF site</a>.
                    </p>
                    <p class="peepee_desc"><a href="#top">Back to top</a></p>
                </div>
            </div>

            <div class="void"></div>
            <div class="void"></div>
            

        <!-- end container -->
        </div>
    <!-- end ransition -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
</body>

</html>